
.app-img-big
{
    width: 180px;
    height: 180px;
}
h1
{
    margin: 0px;
}

.app-short-desc
{
    font-size: 18px;
}
table
{
    width:100%;
    border:1px solid black;
    
}
#more td
{
    padding:10px;
}
#thumbnail td
{
    width: 30%;
}
#gallery
{
    width: 100%;
}

#thumbnail img
{
    width: 90%;
    border:1px solid black;
    border-radius: 5px;
}

#pro_vedio
{
    width: 70%;
    margin: 10px auto;
    border:1px solid black;
    border-radius: 5px;
}

#pro_vedio iframe
{
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
}
